@media (min-width: 1200px) {
  .customNavbar {
    margin-left: 16.25rem;
  }
}
@media (min-width: 1200px) {
  .customNavbarBrand {
    display: none;
  }
}
@media (min-width: 992px) {
  .customNavbarToggler {
    display: none;
  }
}
.customHeaderSearch {
  background-color: transparent;
}
.customHeaderSearch:hover {
  background-color: #f6f7fa;
  border-radius: 0.3125rem !important;
}
.customHeaderSearch:focus {
  outline: none !important;
}
.appsDropdowHeader {
  margin-bottom: 0;
  background-color: transparent;
  border-bottom: 0.0625rem solid rgba(231, 234, 243, 0.7);
}
.appsDropdowFooter {
  background-color: transparent;
  border-top: 0.0625rem solid rgba(231, 234, 243, 0.7);
}
.customDropdownLink {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
}
.customDropdownLink:active {
  background-color: #f8f9fa !important;
}
