.cardHeader {
  padding: 1.3125rem 1.3125rem;
  margin-bottom: 0;
  background-color: transparent;
  border-bottom: 0.0625rem solid rgba(231, 234, 243, 0.7);
}
.cardTitle {
  margin-top: 0;
  font-weight: 600;
  line-height: 1.2;
  color: #1e2022;
}
.listGroup {
  padding: 0 !important;
}
.listGroupItem {
  position: relative;
  display: block !important;
  padding: 1rem 0rem !important;
  color: #1e2022 !important;
  background-color: #fff !important;
}
.listGroupItem:first-child {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.textMutedLink {
  color: #377dff !important;
}
